@import '../../styles/variable';

.root {
  padding: 40px 60px;
  height: calc(100vh - 60px);
  width: calc(100vw - 330px);
  overflow: auto;
}

.img {
  display: block;
  max-width: 100%;
  max-height: 20em;
}

.img_focused {
  box-shadow: 0 0 0 2px $primary;
}

.blockquote {
  border-left: 5px solid $primary;
  margin: 18px 0 0 -2px;
  padding: 10px 16px;
}